@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* common */
body {
    width: 1000px;
    background-color: rgb(255, 255, 255);
}

.global_title {
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.3em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(177, 177, 177);
}

.global_title a {
    /* disable url style*/
    cursor: default;
    text-decoration: none;
    color: black;
}

.global_title a:hover {
    text-decoration: underline;
}

/* index */

.index_list a {
    cursor: default;
    text-decoration: none;
}

.index_list a:hover {
    text-decoration: underline;
}

.index_entry {
    height: 50px;
    padding-left: 50px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2.5em;
}

.index_entry_date {
    color: gray;
}

.index_entry_title {
    color: #1756a9;
    font-size: 1.5em;
}

/* content */

.content_title {
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #333; /* Choose a suitable color for your title */
    margin-bottom: 10px; /* Adjust the margin-bottom as needed */
}

.content_timestamp {
    margin-bottom: 30px; /* Adjust the margin-bottom as needed */
    color: gray;
}

.content_text {
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 1em;
}

/* code highlight */

.codehilite {
    background-color: #f4f4f4;
    padding: 0em;
    border-radius: 5px;
}

.codehilite code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    background-color: #f4f4f4;
    color: black;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    background-color: #f4f4f4;
    color: green;
}

pre {
    margin: 0.2em;
}